body {
  line-height: 1.7;
  font-family: 'SF Pro Text';
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 400;
  color: #888888;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;*/
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: #0a58ca;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0d6efd;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid #7D7D7D;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-toggler {
  background: var(--3, linear-gradient(180deg, #E86F65 0%, #F19208 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  font-size: 25px;
  outline: 0;
  box-shadow: none;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
Link:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

Link, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xl .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}
@media (min-width: 1400px) {
  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xxl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xxl .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xxl .navbar-toggler {
    display: none;
  }
}
.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar-expand .navbar-nav-scroll {
  overflow: visible;
}
.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-dark .navbar-text a,
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: #fff;
}
.nav-pills .nav-link:hover {
  color: #3f9457 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #ed832f;
}


.text-body {
  display: flex;
  align-items: center;
  color: #fff !important;
}
.text-body .typed {
  margin-left: 10px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -0.5);
  margin-left: calc(var(--bs-gutter-x)* -0.5);
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 145%;
  background: linear-gradient(180deg, #E86F65 0%, #F19208 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.banner h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 145%;
  color: #FFFFFF;
  margin: 0;
}

.banner h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 125%;
  color: #FFFFFF;
  margin-top: 35px;
  margin-bottom: 5px;
  display: block;
  max-width: 85%;
}

.banner .typed {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 145%;
  background: linear-gradient(180deg, #E86F65 0%, #F19208 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.banner h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  margin: 0;
  margin-bottom: 35px;
  color: #9195A9;
}

.banner .container {
  background: url('https://crypcet.com/wp-content/themes/crypcet/images/hero_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 40%;
}

.banner {
  padding: 40px 0;
  padding-bottom: 200px;
  z-index: 0;
}
.banner .container {
  position: relative;
}

.banner .container:before {
  content: '';
  background: url('https://crypcet.com/wp-content/themes/crypcet/images/526.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 526px;
  height: 526px;
  position: absolute;
  left: -470px;
  top: 0;
  z-index: -1;
}
.buttons_hero .btn-primary {
  margin-right: 15px;
}

.btn-primary-2 {
  background: linear-gradient(90deg, #F19208 -2.22%, #E86F65 100%);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.btn-primary-2:hover {
  background: linear-gradient(180deg, #6F78FF 0%, #4853F6 100%);
  box-shadow: inset 0px 3.90283px 4.87854px rgba(255, 255, 255, 0.35);
}

.buttons_hero .btn-primary {
  margin-right: 15px;
}
.btn-primary {
  background: linear-gradient(180deg, #6F78FF 0%, #4853F6 100%);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  display: inline-flex;
  align-items: center;
}
.btn {
  font-size: 15px;
  text-transform: capitalize;
  padding: 13px 28px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  font-weight: 500;
  transition: 0.2s ease;
  overflow: hidden;
  border: 0;
}

.bonus_action {
  display: inline-block;
  position: relative;
  background: linear-gradient(180deg, #6F78FF 0%, #4853F6 100%);
  box-shadow: inset 0px 3.90283px 4.87854px rgba(255, 255, 255, 0.35);
  border-radius: 24.3927px;
  padding: 25px 70px;
  max-width: 360px;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 125%;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 68px;
}

.bonus_action:hover {
  color: #fff;
  background: linear-gradient(90deg, #F19208 -2.22%, #E86F65 100%);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.bonus_action:before {
  content: '';
  display: block;
  width: 136px;
  height: 138px;
  background: url("https://crypcet.com/wp-content/themes/crypcet/images/gift1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: -68px;
  top: -69px;
}

.bonus_action:after {
  content: '';
  display: block;
  width: 108px;
  height: 110px;
  background: url("https://crypcet.com/wp-content/themes/crypcet/images/gift2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: -54px;
  top: 55px;
}




@keyframes rot_right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot_right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes rot_left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rot_left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animation_circle {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 674px;
  height: 674px;
}

.animation_line1 {
  width: 674px;
  height: 674px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  /*transform: translate(-50%,-50%);*/
  animation: 20s linear 0s normal none infinite running rot_right;
  -webkit-animation: 20s linear 0s normal none infinite running rot_right;
}

.animation_line2 {
  width: 621px;
  height: 621px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  /*transform: translate(-50%,-50%);*/
  animation: 20s linear 0s normal none infinite running rot_left;
  -webkit-animation: 20s linear 0s normal none infinite running rot_left;
}

.animation_line3 {
  width: 577px;
  height: 577px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  /*transform: translate(-50%,-50%);*/
  animation: 20s linear 0s normal none infinite running rot_left;
  -webkit-animation: 20s linear 0s normal none infinite running rot_left;
}

.animation_line4 {
  width: 550px;
  height: 550px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  /*transform: translate(-50%,-50%);*/
  animation: 20s linear 0s normal none infinite running rot_right;
  -webkit-animation: 20s linear 0s normal none infinite running rot_right;
}

.animation_line5 {
  width: 398px;
  height: 398px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  /*transform: translate(-50%,-50%);*/
  animation: 20s linear 0s normal none infinite running rot_left;
  -webkit-animation: 20s linear 0s normal none infinite running rot_left;
}

.animation_line6 {
  width: 550px;
  height: 550px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  /*transform: translate(-50%,-50%);*/
  animation: 20s linear 0s normal none infinite running rot_left;
  -webkit-animation: 20s linear 0s normal none infinite running rot_left;
}

.animation_line7 {
  width: 200px;
  height: 200px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  /*transform: translate(-50%,-50%);*/
  /*animation: 20s linear 0s normal none infinite running rot_left;*/
  /*-webkit-animation: 20s linear 0s normal none infinite running rot_left;*/
}

.banner .container:after {
  content: '';
  width: 478px;
  height: 478px;
  left: -476px;
  top: 378px;
  position: absolute;
  background: linear-gradient(180deg, #6F78FF 0%, #4853F6 100%);
  filter: blur(200px);
}

.animation_circle:before {
  content: '';
  display: block;
  width: 70%;
  height: 70%;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  background: linear-gradient(180deg, #6F78FF 0%, #4853F6 100%);
  filter: blur(200px);
  transform: rotate(30.26deg);
  opacity: 0.75;
}
@media (min-width: 768px) {
  .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
  }
}

.fa-arrow-right:before {
  content: "\f061";
}
.btn::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: #3c8d53;
  top: 100%;
  left: 60%;
  z-index: -1;
  border-radius: 50%;
  transition: 0.3s;
  transform: rotate(25deg);
}
.btn-outline-primary {
  padding: 15px;
  background: #1C213A;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}
.btn{
  color: white;
}
a{
  color: orange;
}

body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
body {
    line-height: 1.7;
    font-family: 'SF Pro Text';
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: 400;
    color: #888888;
}
body {
    margin: 0;
    font-family: 'SF Pro Text';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    overflow-x: hidden;
    background: #0E1120;
}

